/* Write your code here */
.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  background-size: cover;
  min-height: 100vh;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-heading {
  color: #ffffff;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

button:active {
  border: none;
}

.content2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

p {
  text-align: center;
}

.user-name {
  color: #ffffff;
  font-size: 18px;
}
